In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel("C:/Users/Brown/Documents/GitHubRepo/Analysis_With_Super_Store_Data/Superstore.xls", sheet_name= "Orders")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [3]:
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [4]:
df.select_dtypes(include =['int64', 'float64']).columns

Index(['Row ID', 'Postal Code', 'Sales', 'Quantity', 'Discount', 'Profit'], dtype='object')

In [5]:
df.select_dtypes(include =['object']).columns

Index(['Order ID', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment',
       'Country', 'City', 'State', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name'],
      dtype='object')

In [6]:
df.select_dtypes(include = ['datetime64[ns]']).columns

Index(['Order Date', 'Ship Date'], dtype='object')

# Basic Exploratory Data Analysis



#### What  are the total sales and profits for the store for each year in the datasets?

In [7]:
# create new column(Year)
df['year'] = df['Order Date'].dt.year
#df.head()
#calculate the total sales for each year?
sales_by_year = df.groupby('year')['Sales'].sum()
sales_by_year

year
2014    484247.4981
2015    470532.5090
2016    609205.5980
2017    733215.2552
Name: Sales, dtype: float64

In [8]:
# create new column(Year)
df['year'] = df['Order Date'].dt.year
#df.head()
#calculate the total profit for each year?
Profit_by_year = df.groupby('year')['Profit'].sum()
Profit_by_year

year
2014    49543.9741
2015    61618.6037
2016    81795.1743
2017    93439.2696
Name: Profit, dtype: float64

### What are the top-selling products in terms of revenue and quantity sold?

In [9]:
#What are the top-selling products in terms of revenue and quantity sold?
product_sales = df.groupby('Product Name').agg({'Sales' : 'sum','Quantity' :'sum'})

#product_sales.sort_values(by='sales', ascending=False).head(10)
product_sales.sort_values(by='Quantity', ascending= False).head(10)

                                                       Sales  Quantity
Product Name
Staples                                              755.470       215
Staple envelope                                     1686.812       170
Easy-staple paper                                   2504.192       150
Staples in misc. colors                              478.812        86
KI Adjustable-Height Table                          4552.641        74
Avery Non-Stick Binders                              217.316        71
Storex Dura Pro Binders                              278.586        71
GBC Premium Transparent Covers with Diagonal Li...   780.456        67
Situations Contoured Folding Chairs, 4/Set          3641.274        64
Staple-based wall hangings                           422.288        62

#### What are the top product categories in terms of revenue and quantity sold?

In [10]:
#What are the top product categories in terms of revenue and quantity sold?
category_sales = df.groupby('Category').agg({'Sales' : 'sum','Quantity' :'sum'})

#category_sales.sort_values(by='Sales', ascending=False).head()
category_sales.sort_values(by='Quantity', ascending=False).head()

                       Sales  Quantity
Category
Office Supplies  719047.0320     22906
Furniture        741999.7953      8028
Technology       836154.0330      6939

#### what is the average order value and how does it vary by product category?

In [11]:
# what is the aveage order value and how does it vary by product category?
order_revenue = df.groupby('Order ID')['Sales'].sum()
avg_order_value = order_revenue.mean()

# calcuated the avg order value by product category
category_avg_order_value = df.groupby('Category')['Sales'].mean()

print("Average Order Value: ${:.2f}".format(avg_order_value))
print("\nAverage Order Value by Product Category: ")
print(category_avg_order_value)

Average Order Value: $458.61

Average Order Value by Product Category:
Category
Furniture          349.834887
Office Supplies    119.324101
Technology         452.709276
Name: Sales, dtype: float64

#### Who are the top customers in terms of total spending and number of orders?

In [12]:
#who are the top customers in terms of total spending and number of orders?

customer_spending = df.groupby('Customer Name')['Sales'].sum()
top_customers_by_spending =customer_spending.sort_values(ascending= False).head(3)
customer_orders = df.groupby('Customer Name')['Order ID'].nunique()
top_customers_by_orders = customer_orders.sort_values(ascending=False).head(3)

print('Top 3 Customes by total spending:')
print(top_customers_by_spending)
print('\nTop 3 Custoers by NUmber Orders:')
print(top_customers_by_orders)

Top 3 Customes by total spending:
Customer Name
Sean Miller     25043.050
Tamara Chand    19052.218
Raymond Buch    15117.339
Name: Sales, dtype: float64

Top 3 Custoers by NUmber Orders:
Customer Name
Emily Phan       17
Sally Hughsby    13
Erin Ashbrook    13
Name: Order ID, dtype: int64